h1, h2
  :margin-bottom 10px

h1
  :margin-top 10px

a
  :color blue
  :text-decoration none
  &:hover
    :text-decoration underline

.big_rounded
  :-moz-border-radius 15px
  :-webkit-border-radius 15px

.small_rounded
  :-moz-border-radius 10px
  :-webkit-border-radius 10px

div#header
  h1
    :float left
  span
    :font-size 16px
    :color #333
    :float right
    :margin-top 15px
    :margin-right 65px

div#subheader
  h2
    :float left
  span
    :font-size 16px
    :color #333
    :float right
    :margin-top 8px
    :margin-right 65px
    a
      :color blue

div#votes, div#episodes
  h3, h4, h5, h6, p, ul, li
    :margin 0
  p
    :margin-bottom 1em
    &.info
      :font-style italic
    &.external
      :margin 0 0 5px 0
      span
        :font-size 10px
        :color #333
  ul
    :margin-bottom 5px
  
  li
    :margin-left 20px
  abbr
    :border-bottom 1px dotted #999
  h5
    abbr
      :font-size 12px
      :color #333

div#votes
  div.vote
    :background-color #ddd
    div.inner
      :padding 5px 8px
    h5
      :color #555
      abbr
        :color #555
    p
      &.voteLink
        :margin 10px 60px
        :text-align center
        :font-size 16px
        :font-weight bold
        :letter-spacing 3px
        a
          :color #fff
          :padding 5px 0
          :display block
          :text-decoration none
          :background-color #2C8F4C
          &:hover
            :background-color #40CF6E
            :text-decoration none
  div.phrase
    p
      :margin 150px 0 0 0
      :text-align center
      :font-size 25px
      :font-weight bold

div#episodes
  ul
    li.episode
      :list-style-type none
      :margin 0 70px 10px 15px
      :padding 5px 8px
      :background-color #ddd
  h4
    span
      :color #777
      :float right
      :padding-right 5px
  h5
    :color #555
    abbr
      :color #555
  h6.voting
    :margin 4px 0 8px 0

div.pagination
  :margin-bottom 10px
  :margin-left 15px
  :text-align left
  :padding .3em
  a, span
    :padding .2em .5em
  span.disabled
    :color #AAA
  span.current
    :font-weight bold
    :color #FF0084
  a
    :border 1px solid #DDDDDD
    :color #0063DC
    :text-decoration none
    &:hover, &:focus
      :border-color #003366
      :background #0063DC
      :color white
  .page_info
    :color #aaa
    :padding-top .8em
  .prev_page, .next_page
    :border-width 2px
  .prev_page
    :margin-right 1em
  .next_page
    :margin-left 1em

div#footer
  :font-style italic
  :color #999
  :margin-top 20px
  :padding-top 10px
  a
    :color #999
    :text-decoration underline
    &:hover
      :color #000
  span.right
    :margin-right 60px
    :float right
  span.left
    :float left